.about_us-wrapper {
    display: flex;
    
  }
  .left-wrapper {
    width: 60%;
    button {
      border: 0;
      background-color: $main-color;
      color: white;
      @extend %button-size;
      font-size: $font-size-lg;
    }

    h1 {
      @extend %header_title;
      padding-bottom: 35px;
    }
    p {
      color: $main-font-color;
      width: 80%;
      line-height: 20px;
      font-size: $font-size-md;
      padding-bottom: 30px;
    }
  }
  .about_us{
    padding-bottom: 115px;
    
  }
  iframe{
    width: 560px; 
     height:315px;
  }
  
