.design{
    display: flex;
    justify-content: center;
    font-size:24px;
    word-spacing: 5px;
    padding-bottom: 15px;
}
.text-subscribe{
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    p{
        font-size:$font-size-sm;
        
    }
}
.subscribe-button{
    display: flex;
    justify-content: center;
}