.text-head{
display: flex;
justify-content: center;
padding: 20px 20px 0 20px;
  text-align: center;
    
    p{
        font-size:$font-size-md;
        color:$main-font-color;
        width: $half-width;
        line-height: 25px;
        

        
    }
}
.wrapper-pic h2{
    @extend %title-style;
    display: flex;
    justify-content: center;
    align-items: center;
    
        }
        .small-line{
            width: 110px;
            color:$main-color;
            position: absolute;
            left: 700px;
            border:0.1px solid $main-color;
            margin-top:25px;

        }
  .wrapper-pic{
      padding-bottom: 55px;
    nav{
        menu{
            display: flex;
margin-top: 70px;
justify-content: center;
            li{
                list-style: none;
                &.active{
                    a{
                        color:$main-color
                    }
                }
            }
            a{
                color:#4c4c4c;
                display: inline;
                text-decoration: none;
                padding-right: 45px;
                font-size: $font-size-lg;
            }
        }
    }
  }
         .wrapper-pic li.active,
         .wrapper-pic menu a:hover {
        color: $main-color;
}
.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top:35px ;
    .content-pic{
        img{
            width: 300px;
            height: 300px;
        }
    }
}