main{
    .info-wrapper{
        padding-top:60px;
        .left-wrapper{
            width: 50%;
            h2{
                font-size:40px;
                font-weight: bold;
                line-height: 45px;
                padding-bottom: 45px;
            }
            p{
                color:$main-font-color;
                font-size:$font-size-md;
                width: 85%;
                line-height: 20px;
                padding-bottom:60px;
            }
            button{
                margin-top: 35px;
                  background-color: white;
  color: red;
  width: 225px;
  height: 55px;
  border: 2px solid $main-color;
            }
        }
        .right-wrapper{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
        }

    }

}
.info-content-wrapper{
    display: flex;
}
.info-item{
width: 50%;
box-sizing: border-box;
}
.info-item:nth-child(odd) {
    padding-right: 50px;
  }
  .info-item{
      img{
          padding-bottom: 40px;
      }
      h3{
          padding-bottom: 20px;
          font-size:$font-size-lg;
          font-weight: 700;
      }
      p{
          color:$main-font-color;
          font-size:15px;
          line-height: 22px;
          margin-bottom: 40px;
      }
  }
