.container{
    max-width:1250px;
    margin:0 auto;
    box-sizing: border-box;
    
}
body{
    font-family: $font,sans-serif;
}
.line{
    max-width: 130px;
    border-bottom: 2px solid;
    color: $main-color;
    margin: 0 auto;
    margin-top:35px;
}