
%header_title{
    font-size:55px;
      font-weight: bold;
      width:60%;
}
%button-size{
    width: 225px;
  height: 55px;
}
%flex-center{
    display: flex;
    justify-content: center;
}
%title-style{
  font-size:40px;
  font-weight: $font-weight-title;
}
