header {
  
  padding-top:45px;
  nav {
    background-color: #313030;
    @include transition(0.4s);
    
    menu {
      @extend %flex-center;
      margin-bottom: 110px;
      
    }
    li {
      list-style: none;
      &.active {
        a {
          background-color: $main-color;
        }
      }
    }
    a {
      display: inline-block;
      padding: 35px 25px;
      color: white;
      text-decoration: none;
    }
  }
}


header menu li.active,
header menu li:hover {
  background-color: $main-color;
}
