header {
  nav {
    background-color: #313030;
    @include transition(0.4s);
    menu {
      @extend %flex-center;
      margin-bottom: 110px;
    }
    li {
      list-style: none;
      &.active {
        a {
          background-color: $main-color;
        }
      }
    }
    a {
      display: inline-block;
      padding: 35px 25px;
      color: white;
      text-decoration: none;
    }
  }
}
header .header-background {
  background-color: #d6d3d3;
}
header{
  .about_us-wrapper{
display: flex;
padding-bottom: 115px;
  }
  .left-wrapper{
    button{
      border: 0;
      background-color: $main-color;
      color:white;
      @extend %button-size;
      font-size:$font-size-lg
    }

    h1{
      @extend %header_title;
      padding-bottom: 35px;
    }
    p{
      color:$main-font-color;
      width:80%;
      line-height: 20px;
      font-size:$font-size-md;
      padding-bottom: 30px;
    }
  }
}
header menu li.active,
header menu li:hover {
  background-color: $main-color;
}