header {
  nav {
    background-color: #313030;
    @include transition(0.4s);
    menu {
      display: flex;
      justify-content: center;
    }
    li {
      list-style: none;
      &.active {
        a {
          background-color: $main-color;
        }
      }
    }
    a {
      display: inline-block;
      padding: 35px 25px;
      color: white;
      text-decoration: none;
    }
  }
}
header .header-background {
  background-color: #d6d3d3;
}

